/*.change{

    background : #ff1234;
    text-align: center;
    font-size: 50px;

}
.change2{
	text-align: center;
	font-size: 30px;
	background: lightblue
}*/

body{
	text-align: center;
	color: rgb(0,0,0,.5);
	font-family: serif;
	font-weight: 10;
	background: linear-gradient(to right, yellow, red)
}

h1{

	font: 600 2.5em serif ;
	color: rgb(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	margin-top: 15% ;
}
h2{
	font: 300 1.2em serif ;
	color: rgb(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}